header {
  width: 100%;
  background: #999;
  z-index: 3;
  .inner {
    width: 1180px;
    min-height: 80vh;
    margin: 0 auto;
    position: relative;

    h1 {
      position: absolute;
      top: 20px;
      left: 0;
      width: 50px;
      height: 50px;
      a {
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    #gnb {
      position: absolute;
      top: 30px;
      right: 0;
      > li {
        float: left;
        a {
          display: inline-block;
          padding: 20px 30px;
          font: bold 16px 'noto sans';
          font-weight: 100;
          color: #fff;
          &:last-of-type {
            padding: 20px 0 20px 30px;
          }
        }
      }
    }
    #util {
      position: absolute;
      bottom: 20px;
      right: 0;
      > li {
        float: left;
        a {
          display: inline-block;
          margin-left: 15px;
          .i {
            font-size: 16px;
            color: #222;
          }
        }
      }
    }
    .fa-bars {
      font-size: 24px;
      position: absolute;
      right: 0;
      top: 50px;
      color: #fff;
      display: none;
      cursor: pointer;
    }
  }

  &.sub {
    background: #ffffff;
    .inner {
      min-height: 80px;
      h1 a {
        color: #222;
      }
      #gnb {
        left: 10%;
        li a {
          color: #222;
        }
      }
      #util {
        top: 50px;
        > li {
          a {
            .i {
              color: #222;
            }
            &.active .i {
              color: #fc8276;
            }
          }
        }
      }
      .fa-bars {
        top: 40px;
        color: #222;
      }
    }
  }

  &.main {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    .inner {
      h1 a {
        color: #fff;
      }
      #gnb li a {
        color: #fff;
      }
      #util li a .i {
        color: #fff;
      }
      .fa-bars {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  header {
    .inner {
      width: 100%;
      h1 {
        left: 40px;
      }
      #gnb {
        display: none;
      }
      #util {
        right: 40px;
      }
      .fa-bars {
        display: block;
        right: 40px;
      }
    }

    &.sub {
      background: #efefef;
      .inner {
        min-height: 80px;
        h1 {
          top: 15px;
          left: 50%;
          margin-left: -25px;
        }
        #util {
          top: 30px;
          left: 0;
          > li {
            a {
              .fa-arrow-right-to-bracket,
              .fa-user {
                display: none;
              }
              .fa-location-dot {
                font-size: 24px;
              }
            }
          }
        }
        .fa-bars {
          top: 30px;
          right: 40px;
          color: #000;
        }
      }
    }
  }
}
