.Location {
  figure {
    background: rgb(195, 254, 195);
  }
  #map {
    width: 100%;
    height: 500px;
    background: #000;
  }
  .location_intro {
    width: 100%;
    span {
      font: 16px/1 'playfair display';
      color: #c9ab81;
      font-style: italic;
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
    h2 {
      font: 35px/1 'playfair display';
      color: #222;
      letter-spacing: 3px;
      text-align: center;
      margin-bottom: 30px;
      position: relative;
      &::before {
        content: '';
        display: block;
        width: 150px;
        height: 1px;
        background: #555;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-200%);
        margin-top: -0.5px;
      }
      &::after {
        content: '';
        display: block;
        width: 150px;
        height: 1px;
        background: #555;
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translateX(100%);
        margin-bottom: -0.5px;
        // transform: translateX(-250%);
      }
    }
    p {
      font: bold 14px/1.5 'roboto';
      font-weight: 100;
      text-align: center;
      padding: 0 25%;
      margin-bottom: 50px;
    }
  }

  ul {
    width: 100%;
    display: flex;
    li {
      width: 33.3333%;
      margin-bottom: 50px;
      cursor: pointer;
      .branch_info {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        padding: 80px 60px;
        border-radius: 50%;
        h3 {
          font: 22px/1 'playfair display';
          color: #222;
          font-weight: 700;
          margin-bottom: 10px;
          position: relative;
          &::before {
            content: '';
            display: block;
            width: 40px;
            height: 1px;
            background: #222;
            position: absolute;
            left: -50px;
            transform: rotate(-30deg);
            transform-origin: top right;
          }
        }
        > div {
          font: bold 14px/1.4 'roboto';
          font-weight: 100;
          color: #222;
          margin-bottom: 15px;
        }
      }
      &.on .branch_info {
        background: #d8f2f2;
      }
    }
  }
  button {
    display: block;
    cursor: pointer;
    height: 30px;
    border: 1px soild #888;
    padding: 5px 20px;
    font: bold 14px/1 'roboto';
    font-weight: 100;
  }

  #contact_info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    > li {
      width: 45%;
      span {
        font: 16px/1 'playfair display';
        color: #c9ab81;
        font-style: italic;
        display: block;
        margin-bottom: 10px;
      }
      h2 {
        font: 35px/1 'playfair display';
        color: #222;
        letter-spacing: 3px;
        margin-bottom: 30px;
      }
      form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        textarea {
          width: 100%;
          border: none;
          border-bottom: 1px solid #383838;
          padding: 20px 0 10px 10px;
          font: 14px/1 'playfair display';
          font-style: italic;
          margin-bottom: 30px;
        }
        textarea:focus,
        input:focus {
          outline: none;
        }
        .info {
          width: 48%;
          input[type='text'] {
            width: 100%;
            border: none;
            border-bottom: 1px solid #383838;
            padding: 20px 0 10px 10px;
            font: 14px/1 'playfair display';
            font-style: italic;
            margin-bottom: 10px;
          }
          > span {
            width: 100%;
            font: 14px/1 'playfair display';
            color: #29b6f6;
            font-style: italic;
            margin-bottom: 40px;
          }
        }
        input[type='submit'] {
          background: none;
          border: 1px solid #c9ab81;
          width: 120px;
          height: 50px;
        }
      }
      .reserve_info {
        width: 80%;
        font: bold 14px/1.5 'roboto';
        font-weight: 100;
        color: #383838;
        margin-top: 50px;
        > div {
          margin-bottom: 10px;
        }
      }
      > .sns {
        margin-top: 30px;
        a {
          margin-right: 30px;
          .i {
            font-size: 15px;
            color: #383838;
          }
          &:hover .i {
            color: #c9ab81;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .Location {
    #map {
      height: 40vh;
    }
    .location_intro {
      width: 100%;

      h2 {
        &::before {
          width: 30px;
          left: 20vw;
        }
        &::after {
          width: 30px;
          left: 70vw;
        }
      }
      p {
        padding: 0 10%;
      }
    }

    ul {
      flex-wrap: wrap;
      li {
        width: 100%;
        margin-bottom: 10px;
        &:nth-of-type(1),
        &:nth-of-type(2) {
          margin-bottom: 0;
        }
      }
    }
    button {
      padding: 5px 10px;
      font: bold 12px/1 'roboto';
      font-weight: 100;
    }

    #contact_info {
      > li {
        width: 100%;
        margin-bottom: 100px;
        &:last-of-type {
          margin-bottom: 0;
        }
        span {
          font: 14px/1 'playfair display';
        }
        h2 {
          font: 30px/1 'playfair display';
        }
        form {
          textarea {
            padding: 10px 0 10px 10px;
            font: 14px/1 'playfair display';
            font-style: italic;
            margin-bottom: 20px;
          }
          .info {
            width: 48%;
            input[type='text'] {
              padding: 10px 0 10px 10px;
            }
            > span {
              font: 12px/1.2 'playfair display';
              margin-bottom: 20px;
            }
          }
          input[type='submit'] {
            width: 100%;
            height: 30px;
          }
        }
        .reserve_info {
          > div {
            margin-bottom: 10px;
          }
        }
        > .sns {
          margin-top: 20px;
          a {
            margin-right: 30px;
            .i {
              font-size: 15px;
              color: #383838;
            }
            &:hover .i {
              color: #c9ab81;
            }
          }
        }
      }
    }
  }
}
